.spacing {
  margin-right: 1%;
}

.grades {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

#calc {
  margin-left: 20px;
}

.number-evaluations {
  display: flex;
  align-items: center;
  justify-content: center;
}
